body{
    background: #ededed;
}
.navbar{
    padding: 15px 30px;
    margin-bottom: 5px;
}
.brand-logo,.brand-logo:hover{
    font-size: 24px;
    color: #333333;
    border: 2px solid #333333;
    padding: 6px 10px;
    font-weight: 500;
    text-decoration: none;
    display:inline-block;margin-top:5px;
}
.nav-logo{
    height: 60px;
}
.backtohome{
    float:right;
    color: #333333;
}
.contactus{
    float:right;
    color: #333333;
    padding-right: 5px;
}
h1.main-logo{
    font-size: 6rem;
    display:block;
    color:#333333;
    font-weight: 600;
    margin-top:0;
}
a.home-button{
    padding: 15px;
    margin: 10px;
    border:2px solid #333333;
    color: #333333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    width: 230px;
    height: 230px;
    vertical-align: top;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
a.home-button:hover{
    background: #333333;
    color:#FFFFFF;
}
    a.home-button .glyphicon{
        font-size: 5rem;
        display: block;
        margin-bottom: 10px;
    }
    a.home-button .text{
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        display:inline-block;
    }
    a.home-button .ml{
        margin-top:7px;
        padding-top:7px;
        border-top: 1px dotted #555555;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        display:inline-block;
    }
p.home-info{
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 800px;
    margin:30px auto 0;
}
form{
    width:96%;
    margin: 20px auto;
    max-width: 600px;
}
footer{
    margin: 40px 0;
}
.ml.small{
    font-size: 0.6em;
}
.footer-logo{
    height: 60px;
    margin: 15px;
}
@media screen and (max-width: 640px) {
    .navbar{
        padding: 4px 6px;
    }
    .brand-logo,.brand-logo:hover{
        font-size: 15px;
        padding: 3px 6px;
        margin-top: 0;
    }
    h1.main-logo{
        font-size: 3.5rem;
        margin-top:10px;
    }
    a.home-button .glyphicon{
        font-size: 3rem;
        margin-bottom: 15px;
    }
    a.home-button{
        display: inline-block;
        padding: 20px 10px;
        margin: 5px 10px;
        width: 80%;
        height: auto;
    }
    a.home-button .text{
        font-size: 2rem;
    }
    .nav-logo{
        height: 30px;
    }
    .footer-logo{
        height: 80px;
        display: block;
        margin: 15px auto;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 14px 8px;
}

tr:nth-child(even) {
    background-color: #E5E5E5;
}
tr:hover td{
    background-color: #dce9f1;
}

.static-page-box{
    background: #F5F5F5;
    margin-top:40px;
    padding:20px 20px 50px;
    border: 2px solid #CCCCCC;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #1C608C;
    color: white;
    border: 1px solid #1C608C;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

table thead tr th {
  border-top: 2px solid #ddd !important;
}

.container{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.announcement-cards{
    display: block;
    max-width: 800px;
    padding: 0 10px;
    margin: 20px auto; 
}
.priority-index{
    margin-bottom: 10px;
    font-size: 12px;
    color:#777777;
}
    .priority-index b{
        display: inline-block;
        width:14px;
        height: 4px;
        border-radius: 2px;
        margin: 0 2px 2.5px 10px;
    }
.card{
    display: block;
    background: #FFFFFF;
    padding: 25px 20px 15px;
    margin-bottom: 20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: auto;
    height: auto;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
    border-left:5px solid transparent;
}
.card-text{
    display: block;
    color: black;
    font-size: 14px;
    margin-bottom:6px;
}
    .card-link{
        margin: 12px 5px;
    }
.card-time{
    float: left;
    color: #888888;
    font-size: 12px;
    padding:2px 8px;
}
    .card-time .glyphicon{ 
        font-size: 80%;
    }
.card-priority{
    float: left;
    color: #FFFFFF;
    padding:2px 8px;
    border-radius: 3px;
    font-weight: bold;
    display:inline-block;
    vertical-align: middle;
    font-size: 12px;
}

@media screen and (min-width: 640px) {
    .card-text{
        text-align: left;
    }
}
/* Card Priority Variation */
.card.priority-very-important{
        border-top:5px solid #e05959;
        border-left: none;
        margin-bottom: 40px;
        box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .card.priority-very-important .card-text{
        font-size: 16px;
    }
    .card.priority-very-important .card-priority{
        font-size: 14px;
        padding: 4px 12px; 
        background-color:#e05959;
        -webkit-animation: 1s pinned-message-priority infinite;
        animation: 1s pinned-message-priority infinite;
    }
    .card.priority-very-important .card-time{
        float: right
    }

.card.priority-high{border-color:#ef7831;}
    .card.priority-high .card-priority{background-color:#ef7831;}
    
.card.priority-medium{border-color:#7ab754;}
    .card.priority-medium .card-priority{background-color:#7ab754;}

.card.priority-low{border-color:#286090;}
    .card.priority-low .card-priority{background-color:#286090;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pinned-message-priority {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes pinned-message-priority {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}