{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="text-center">
  <h3>Camp details</h3>
</div>

<form action="" method="get">
    {{ filter.form.as_p }}
    <button class="btn btn-default" type="submit">Show Relief Camps</button>
</form>
<div class="">
  <table class="table">
    <tr>
      <th>Camp Name</th>
      <th>District</th>
      <th>Taluk</th>
      <th>Village</th>
      <th>Contacts</th>
      <th>Total Males</th>
      <th>Total Females</th>
      <th>Total Infants</th>
      <th>Food Requirements</th>
      <th>Clothing Requirements</th>
      <th>Sanitary Requirements</th>
      <th>Medical Requirements</th>
      <th>Other Requirements</th>
    </tr>
  {% for item in camp_data %}
    <!-- Ernakulam -->
    <tr valign="top">
      <td><strong>{{item.name}}</strong></td>
      <td>
        {{item.district|linebreaks}}
      </td>
      <td>
        {{item.taluk|linebreaks}}
      </td>
      <td>
        {{item.village|linebreaks}}
      </td>
      <td>
        {{item.contacts|linebreaks}}
      </td>
      <td>
        {{item.total_males|linebreaks}}
      </td>
      <td>
        {{item.total_females|linebreaks}}
      </td>
      <td>
        {{item.total_infants|linebreaks}}
      </td>
      <td>
        {{item.food_req|linebreaks}}
      </td>
      <td>
        {{item.clothing_req|linebreaks}}
      </td>
      <td>
        {{item.sanitary_req|linebreaks}}
      </td>
      <td>
        {{item.medical_req|linebreaks}}
      </td>
      <td>
        {{item.other_req|linebreaks}}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
