{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}  
  <div class="text-right">
    <a href="/coordinator_home">Coordinator Home</a> | 
    <a href="/logout">Logout</a>
  </div>

  <h3 class="text-center">
      Camp Details | 
      ക്യാമ്പിന്റെ വിവരങ്ങൾ 
  </h3>
  <div class="text-center text-danger">
      {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      {% endif %}
  </div>
  <br>

  <form method="post"  class="simple-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-success btn-lg">
    Save {% bootstrap_icon "ok" %}
    </button>
    {% endbuttons %}

    <p class="text-center">
        Please update camp information here
        <br>
        ക്യാമ്പിന്റെ വിവരങ്ങൾ ഇവിടെ അപ്ഡേറ്റ് ചെയ്യുക  
    </p>
  </form> 

{% endblock %}
