{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="text-center">
  <h3><a href="/collection_centers/">Collection Centers</a></h3>
</div>

<div>
    <form action="" method="get">
        {% bootstrap_form filter.form bound_css_class=False %}
        <input value="Search" class="btn btn-primary" type="submit" />
    </form>

    <table class="table" id="collection-center-table">
        <tr>
            <th>Center ID</th>
            <th>Center Name <span><input class="search" id="search-name" type="text" name="search-name" /></span></th>
            <th>Address <span><input class="search" id="search-address" type="text" name="search-address" /></span></th>
            <th>Contacts <span><input class="search" id="search-contact" type="text" name="search-contact" /></span></th>
            <th>Materials Collecting <span><input class="search" id="search-materials" type="text" name="search-materials" /></span></th>
        </tr>
    {% for center in filter.qs %}
        <tr valign="top">
              <td>{{ center.id }}</td>
              <td>{{ center.name }}</td>
              <td>{{ center.address }}</td>
              <td>{{ center.contacts }}</td>
              <td>{{ center.type_of_materials_collecting }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="5">No Collection Centers added yet.</td></tr>
    {% endfor %}
    </table>

    {% if is_paginated %}

        <div class="pagination" >
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'collection_centers_list' %}?page=1">&laquo; first</a>
                    <a href="{% url 'collection_centers_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                    {% elif i > page_obj.min_page and i < page_obj.max_page or i|divisibleby:data.lim_page %}
                        <a href="{% url 'collection_centers_list' %}?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="{% url 'collection_centers_list' %}?page={{ page_obj.next_page_number }}">next</a>
                    <a href="{% url 'collection_centers_list' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        window.onload = function() {
            $("input.search").keyup(search);
        }

        function search() {
            $("#collection-center-table").find("tr").each(function(i,el) {
                // skip header row
                if (i == 0) return;
                el = $(el);
                var tds = el.find("td");

                var name = tds.eq(1).text().toLowerCase();
                var nameKey = $("#search-name").val().toLowerCase();

                var address = tds.eq(2).text().toLowerCase();
                var addressKey = $("#search-address").val().toLowerCase();

                var contact = tds.eq(3).text().toLowerCase();
                var contactKey = $("#search-contact").val().toLowerCase();

                var materials = tds.eq(4).text().toLowerCase();
                var materialsKey = $("#search-materials").val().toLowerCase();


                if ( name.includes(nameKey)
                     && address.includes(addressKey)
                     && contact.includes(contactKey)
                     && materials.includes(materialsKey)
                   )
                {
                   el.show();
                } else {
                   el.hide();
                }
            });
        }
    </script>

{% endblock %}