{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


<div class="text-right">
    <a href="/find_people">Search People</a> | 
    <a href="/logout">Logout</a>
</div>

<h3>
  Relief Camp Coordinator | ദുരിതാശ്വാസ ക്യാമ്പ് കോർഡിനേറ്റർ
</h3>

<hr>

<div class="text-center text-danger">
    {% if messages %}
      {% for message in messages %}
        <h4>{{ message }}</h4>
      {% endfor %}
    {% endif %}
</div>

<form action="" method="get">
    {{ filter.form }}
    <button class="btn btn-default" type="submit"> Select {% bootstrap_icon "chevron-right" %}</button>
</form>

{% if camps.count > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>District</th>
            <th>Taluk/Village</th>
            <th>Registration Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in camps %}
        <tr>
            <td><strong>{{ item.name }}</strong></td>
            <td>{{ item.get_district_display }}</td>
            <td>{{ item.taluk }}<br>{{ item.village }}</td>
            <td>{{ item.count }}</td>
            <td>
                <div class="btn-group">
                    <a href="/camp/{{ item.id  }}/add_person" class="btn btn-default">
                        {% bootstrap_icon "user" %}  Register People
                    </a>
                    <a href="/camp/{{ item.id  }}/requirements" class="btn btn-default">
                        {% bootstrap_icon "pencil" %} Requirements
                    </a>
                     <a href="/camp/{{ item.id  }}/details" class="btn btn-default">
                        {% bootstrap_icon "pencil" %}  Update details
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% else  %}
<div class="text-center text-warning">
  <h4>
      No relief camps found.
  </h4>
  
</div>
{% endif %}

{% endblock %}
