{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1 class="text-center">Contact Info</h1>
<h2 class="text-center">ഞങ്ങളുമായി ബന്ധപ്പെടാന്‍</h2>
<p class="text-center">
  Volunteers are available across Kerala. Contact the <u>District level point of contacts</u> for any help. <br/>
  സഹായത്തിനായി വൊളന്‍റീയര്‍മാര്‍ തയ്യാറാണ്. സഹായം ആവശ്യമെങ്കില്‍ ഒരോ ജില്ലയിലെയും നിയോഗിക്കപെട്ട ഉദ്യോഗസ്ഥരുമായി ബന്ധപ്പെടാം
</p>
<form id="find-contact-form" action="" method="get">
       {% bootstrap_form filter.form bound_css_class=False %}
 </form>
 <div class="table-responsive">
  <table class="table">
    <tr>
      <th>Name - പേര്</th>
      <th>Phone - ഫോൺ</th>
      <th>Other Contact - മറ്റ് കോൺടാക്റ്റ്</th>
    </tr>
    {% for req in filter.qs %}
        <tr>
          <td>{{ req.name }}</td>
          <td><a href="tel:{{ req.phone }}">{{ req.phone }}</a></td>          <td>{{ req.email }}</td>
        </tr>
    {% endfor %}
  </table>
</div>
<script>
  window.onload = function() {
    $("#id_district").change(() => {
      $("#find-contact-form").submit();
    })
  }

</script>
{% endblock %}
