{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<!--Navigation Breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="../ngo-volunteer/">Register as a Volunteer or NGO</a></li>
    <li class="breadcrumb-item active" aria-current="page">NGO-Company Registration</li>
  </ol>
</nav>

  <div class="text-right">
    <a href="{% url 'ngo_download_view' %}">Download NGO list</a>
  </div>

<p class="text-center">
  <h1 class="text-center">NGO/Company Registration</h1>
  <h2 class="text-center"></h2>
</p>
  <form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>

{% endblock %}
