{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1 class="text-center">Register as Volunteer</h1>
<h2 class="text-center">വൊളന്‍റീയര്‍ ആകാന്‍</h2>
  <form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>

<script>
    window.onload = function() {
        $("#id_phone").attr('type', 'number');
    }
</script>
{% endblock %}
