{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form method="post"  class="simple-form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>
  <div id="gpslocationchooser">
      <div id="floating-panel">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <input id="address" class="form-control" type="textbox" value="Kochi, Kerala">
              <div class="input-group-btn">
                <!-- Buttons -->
                <input id="Search" type="button" value="Search" class="btn btn-default">
                <button id="change" type="button" class="btn btn-default">
                  Update address
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="map"></div>
      <div class="alert alert-info">
        Use the marker to update the location. Touch / click at the bottom of the pin.
      </div>
  </div>

  <!-- Instruction Modal -->
  <div id="instructionModal" class="modal  fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="background: white">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Allow Location - നിങ്ങളുടെ സ്ഥലം കൊടുക്കുക </h3>
      </div>
      <div class="modal-body">
        നിങ്ങളുടെ സ്ഥലം നൽകുന്നതെങ്ങനെ<br><br>

        1. നിങ്ങളുടെ ബ്രൗസർ <b>"www.keralaresue.in wants to know your location"</b> എന്ന ഒരു സന്ദേശം കാണിക്കും<br>
        2. സന്ദേശത്തിൽ <b>Allow</b> തിരഞ്ഞെടുക്കുക
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" id="modal_ok_button" aria-hidden="true">Ok</button>
      </div>
    </div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" integrity="sha256-/GKyJ0BQJD8c8UYgf7ziBrs/QgcikS7Fv/SaArgBcEI=" crossorigin="anonymous"></script>
  <!-- <script src="http://www.openlayers.org/api/OpenLayers.js"></script> -->
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/build/ol.js"></script>
  <script type="text/javascript">
	/*
		Lodash Code for Throttle
	*/
	var reNative = RegExp('^' +
      String(Object.prototype.valueOf)
        .replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
        .replace(/valueOf|for [^\]]+/g, '.+?') + '$'
    );

	function isObject(value) {
		var type = typeof value;
		return value != null && (type == 'object' || type == 'function');
	}

	now = reNative.test(now = Date.now) && now || function() { return +new Date; }

	function toNumber(value) {
		if (typeof value == 'number') {
			return value;
		}
		if (isSymbol(value)) {
			return NAN;
		}
		if (isObject(value)) {
			var other = typeof value.valueOf == 'function' ? value.valueOf() : value;
			value = isObject(other) ? (other + '') : other;
		}
		if (typeof value != 'string') {
			return value === 0 ? value : +value;
		}
		value = value.replace(reTrim, '');
		var isBinary = reIsBinary.test(value);
		return (isBinary || reIsOctal.test(value))
			? freeParseInt(value.slice(2), isBinary ? 2 : 8)
			: (reIsBadHex.test(value) ? NAN : +value);
	}

	function debounce(func, wait, options) {
		var lastArgs,
			lastThis,
			maxWait,
			result,
			timerId,
			lastCallTime,
			lastInvokeTime = 0,
			leading = false,
			maxing = false,
			trailing = true;

		if (typeof func != 'function') {
			throw new TypeError(FUNC_ERROR_TEXT);
		}
  		wait = toNumber(wait) || 0;
		if (isObject(options)) {
			leading = !!options.leading;
			maxing = 'maxWait' in options;
			maxWait = maxing ? nativeMax(toNumber(options.maxWait) || 0, wait) : maxWait;
			trailing = 'trailing' in options ? !!options.trailing : trailing;
		}

		function invokeFunc(time) {
			var args = lastArgs,
				thisArg = lastThis;

			lastArgs = lastThis = undefined;
			lastInvokeTime = time;
			result = func.apply(thisArg, args);
			return result;
		}

		function leadingEdge(time) {
			lastInvokeTime = time;
			timerId = setTimeout(timerExpired, wait);
			return leading ? invokeFunc(time) : result;
		}

		function remainingWait(time) {
			var timeSinceLastCall = time - lastCallTime,
				timeSinceLastInvoke = time - lastInvokeTime,
				timeWaiting = wait - timeSinceLastCall;

			return maxing
			? nativeMin(timeWaiting, maxWait - timeSinceLastInvoke)
			: timeWaiting;
		}

		function shouldInvoke(time) {
			var timeSinceLastCall = time - lastCallTime,
				timeSinceLastInvoke = time - lastInvokeTime;
			return (lastCallTime === undefined || (timeSinceLastCall >= wait) ||
			(timeSinceLastCall < 0) || (maxing && timeSinceLastInvoke >= maxWait));
		}

		function timerExpired() {
			var time = now();
			if (shouldInvoke(time)) {
			return trailingEdge(time);
			}
			// Restart the timer.
			timerId = setTimeout(timerExpired, remainingWait(time));
		}

		function trailingEdge(time) {
			timerId = undefined;

			// Only invoke if we have `lastArgs` which means `func` has been
			// debounced at least once.
			if (trailing && lastArgs) {
			return invokeFunc(time);
			}
			lastArgs = lastThis = undefined;
			return result;
		}

		function cancel() {
			if (timerId !== undefined) {
			clearTimeout(timerId);
			}
			lastInvokeTime = 0;
			lastArgs = lastCallTime = lastThis = timerId = undefined;
		}

		function flush() {
			return timerId === undefined ? result : trailingEdge(now());
		}

  		function debounced() {
			var time = now(),
				isInvoking = shouldInvoke(time);

			lastArgs = arguments;
			lastThis = this;
			lastCallTime = time;

			if (isInvoking) {
				if (timerId === undefined) {
					return leadingEdge(lastCallTime);
				}
				if (maxing) {
					// Handle invocations in a tight loop.
					timerId = setTimeout(timerExpired, wait);
					return invokeFunc(lastCallTime);
				}
			}
			if (timerId === undefined) {
				timerId = setTimeout(timerExpired, wait);
			}
			return result;
		}
		debounced.cancel = cancel;
		debounced.flush = flush;
		return debounced;
	}

	function throttle(func, wait, options) {
		var leading = true,
			trailing = true;

		if (typeof func != 'function') {
			throw new TypeError(FUNC_ERROR_TEXT);
		}
		if (isObject(options)) {
			leading = 'leading' in options ? !!options.leading : leading;
			trailing = 'trailing' in options ? !!options.trailing : trailing;
		}
		return debounce(func, wait, {
			'leading': leading,
			'maxWait': wait,
			'trailing': trailing
		});
	}
	/*
	end of lodash code for throttle
	*/

	window.onload = function(){
		nativeMax = Math.max;
		var checkVisibility;
 	 	(checkVisibility = function(){
			var formgroups = document.querySelectorAll(".form-group");
			Array.prototype.forEach.call(formgroups, function(el, i){
				var checkbox = el.querySelectorAll(".checkbox");
				if(checkbox.length > 0){
					var checkboxElem = el.querySelectorAll("input")[0];
					if ( checkboxElem.id != "id_is_request_for_others") {
                        if (checkboxElem.checked) {
                            formgroups[i+1].style.display = "block";
                        }
                        else {
                            formgroups[i+1].style.display = "none";
                        }
                    }
				}
			});
		})();

		var checkboxes = document.querySelectorAll("input[type=checkbox]");
		for(var i=0; i< checkboxes.length; i++) {
			checkboxes[i].addEventListener("change",checkVisibility);
		}
		var gpsField = document.getElementById('id_latlng');
		var gpsAccuracyField = document.getElementById('id_latlng_accuracy');
		gpsField.readOnly = true;
		gpsAccuracyField.readOnly = true;
		var options = {
			enableHighAccuracy: true
		};

		success = function(pos, doNotUpdateMap, doNotFetchAddress) {
			var crd = pos.coords;
				gpsField.value = crd.latitude + "," + crd.longitude;
				gpsAccuracyField.value = crd.accuracy + ' Meters';
				if(!doNotUpdateMap) {
                    changeLocation({lat: crd.latitude, lon: crd.longitude});
                }

                if(!doNotFetchAddress) {
                    $.get('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + crd.latitude + '&lon=' + crd.longitude + '&zoom=18&addressdetails=1')
                        .done(function(response) {
                            $('#id_latlng_display').val(response.display_name);
                            console.log(response.display_name);
                        })
                        .fail(function(err) {
                            console.log(err);
                        });
                }
		}

		var error = function(err) {
			console.warn(`ERROR(${err.code}): ${err.message}`);
		}


    $('#modal_ok_button').click(function(event) {
      navigator.geolocation.getCurrentPosition(success, error, options);
    });
		$('#instructionModal').modal('show');

		function makeMovable(feature) {
				var modify = new ol.interaction.Modify({
						features: new ol.Collection([feature])
				});

				feature.on('change',function() {
						var pos = ol.proj.transform(this.getGeometry().getCoordinates(), 'EPSG:3857', 'EPSG:4326');
						// console.log('Feature Moved To:', pos);
						currentPosition.lat = pos[1];
						currentPosition.long = pos[0];
						updateCurrentLocation(true);
				}, feature);
				return modify;
		}

		function createMarker(location, style){
				var iconFeature = new ol.Feature({
						geometry: new ol.geom.Point(location)
				});
				iconFeature.setStyle(style);

				return iconFeature
		}

		function changeLocation(location){
			marker.getGeometry().setCoordinates(new ol.proj.transform([location.lon-0, location.lat-0], 'EPSG:4326', 'EPSG:3857'));
			map.getView().setCenter(ol.proj.transform([location.lon-0, location.lat-0], 'EPSG:4326', 'EPSG:3857'));
		}

		function createMap(){
			mapDiv = document.getElementById('map');
			view = new ol.View({
				center: ol.proj.fromLonLat([76.2673, 9.9312]),
				zoom:11
			});
			map = new ol.Map({
				target: mapDiv,
				layers:[
					new ol.layer.Tile({
						source: new ol.source.OSM()
					})
				],
				view: view
			});

			currentPosition = {
				lat: 9.9312,
				long: 76.2673
			}

			view.on('change:center', function(event){
				var center = new ol.proj.transform([event.target.values_.center[0], event.target.values_.center[1]], 'EPSG:3857', 'EPSG:4326');
				marker.getGeometry().setCoordinates(new ol.proj.transform([center[0], center[1]], 'EPSG:4326', 'EPSG:3857'));
			});

			var mapVectorSource = new ol.source.Vector({
					features: []
			});
			var mapVectorLayer = new ol.layer.Vector({
					source: mapVectorSource
			});
			map.addLayer(mapVectorLayer);

			iconStyle = [
				new ol.style.Style({
					image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
						anchor: [0.5, 1],
						anchorXUnits: 'fraction',
						anchorYUnits: 'fraction',
						src: 'https://maps.gstatic.com/intl/de_de/mapfiles/ms/micons/red-pushpin.png',
					}))
				})
			]
			marker = createMarker(ol.proj.transform([76.2673, 9.9312], 'EPSG:4326', 'EPSG:3857'), iconStyle);
			mapVectorSource.addFeature(marker);
			var modifyInteraction = makeMovable(marker);
			map.addInteraction(modifyInteraction);
		}

		function addAddressField () {
            var html = '<div class="form-group"><label class="control-label" for="id_latlng">Address - </label><input class="form-control" id="id_latlng_display" value="" readonly/></div>'
            var gpsFieldGroup = $(gpsField).closest('.form-group');
            $(html).insertBefore(gpsFieldGroup)
        }

        function updateCurrentLocation (doNotFetchAddress) {
            success({
                coords:{
                    latitude:currentPosition.lat,
                    longitude: currentPosition.long,
                    // default accurracy for location updated using marker
                    accuracy: 100
                }
            }, true, doNotFetchAddress);
        }

		document.getElementById('change').addEventListener('click', function(event){
			console.log(currentPosition);
			updateCurrentLocation(false);
			alert('Your location has been successfully set');
		});
		document.getElementById('Search').addEventListener('click', function() {
			var address = document.getElementById('address').value;
			$.get('https://nominatim.openstreetmap.org/search?q='+encodeURI(address)+'&format=json&addressdetails=1&limit=1&polygon_svg=1')
					.done(function(response) {
						try{
							console.log(response);
							if(response.length<1){
								alert('Please check the spelling');
							}else{
								response = response[0];
								console.log(response.lon-0, response.lat-0);
								changeLocation(response);
							}
						}catch(err){
							console.error(err);
						}
					})
					.fail(function(err){
						console.log(err);
					});
		});

		addAddressField();
        createMap();
	}

  </script>

{% endblock %}