{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form method="post"  class="simple-form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="button" class="btn btn-default" id="changeGPSLocation">
	change GPS Location
  </button>
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>
  	<div id="floating-panel">
		<input id="address" type="textbox" value="Kochi, Kerala">
		<input id="Search" type="button" value="Search">
		<button id="change" type="button">
			Change
		</button>
	</div>
	<div id="map"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" integrity="sha256-/GKyJ0BQJD8c8UYgf7ziBrs/QgcikS7Fv/SaArgBcEI=" crossorigin="anonymous"></script>
  <script type="text/javascript">

	window.onload = function(){

		var checkVisibility;
 	 	(checkVisibility = function(){
			var formgroups = document.querySelectorAll(".form-group");
			Array.prototype.forEach.call(formgroups, function(el, i){
				var checkbox = el.querySelectorAll(".checkbox");
				if(checkbox.length > 0){
					if(el.querySelectorAll("input")[0].checked == true){
						formgroups[i+1].style.display = "block";						
					}
					else{
						formgroups[i+1].style.display = "none";												
					}
				}
			});
		})();

		var checkboxes = document.querySelectorAll("input[type=checkbox]");
		for(var i=0; i< checkboxes.length; i++) {
			checkboxes[i].addEventListener("change",checkVisibility);
		}

		var gpsField = document.getElementById('id_latlng');
		gpsField.readOnly = true;
		var gpsAccuracyField = document.getElementById('id_latlng_accuracy');
		gpsAccuracyField.readOnly = true;
		var options = {
			enableHighAccuracy: true
		};

		var success = function(pos) {
			var crd = pos.coords;
				gpsField.value = crd.latitude + "," + crd.longitude;
				gpsAccuracyField.value = crd.accuracy + ' Meters';
				$.get('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + crd.latitude + '&lon=' + crd.longitude + '&zoom=18&addressdetails=1')
					.done(function(response) {
						var inputElem = $('<input class="form-control" readonly="true" value="' + response.display_name + '"</input>')
						$(gpsField).before(inputElem);
						$(gpsField).hide();
						console.log(response.display_name);
					})
					.fail(function(err){
						console.log(err);
					});
		}

		var error = function(err) {
			console.warn(`ERROR(${err.code}): ${err.message}`);
		}

		navigator.geolocation.getCurrentPosition(success, error, options);

		var changeGPSLocationBtn = document.getElementById('changeGPSLocation');
		changeGPSLocationBtn.addEventListener('click', function(event){
			document.getElementById('gpslocationinwordsdiv').hidden = false;
		});
		
	}

	function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 9.9312, lng: 76.2673}
		});
		var marker = new google.maps.Marker({
			map,
			position: new google.maps.LatLng(9.9312, 76.2673)
		});
		document.getElementById('change').addEventListener('click', function(event){
			console.log(marker.position);
		});
        var geocoder = new google.maps.Geocoder();

        document.getElementById('Search').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
        	marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsNkmf6cK7dNkv3ck_HFCCU0lB-S8TOEc&callback=initMap">
  </script>

{% endblock %}