{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1 class="text-center">Request For Help</h1>
<h2 class="text-center">സഹായം അഭ്യര്‍ഥിക്കാന്‍</h2>
  <form method="post"  class="simple-form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <strong>മാപ്പിൽ സഹായം ആവശ്യമായ സ്ഥലം രേഖപ്പെടുത്തുക  </strong>
  <div id="gpslocationchooser">
      <div id="floating-panel">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <input id="address" class="form-control" type="textbox" value="Kochi, Kerala">
              <div class="input-group-btn">
                <!-- Buttons -->
                <input id="Search" type="button" value="Search" class="btn btn-default">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="map"></div>
      <div class="alert alert-info">
          Click / touch on the map to move marker. This will update the form.<br/>
          മാർക്കർ നീക്കാൻ മാപ്പിൽ ക്ലിക്കുചെയ്യുക / സ്പർശിക്കുക. ഇത് ഫോം അപ്ഡേറ്റ് ചെയ്യും.
      </div>
  </div>

    {% buttons %}
    <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Submit
    </button>
    {% endbuttons %}
    </form>
  <!-- Instruction Modal -->
  <div id="instructionModal" class="modal  fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="background: white">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Allow Location - നിങ്ങളുടെ സ്ഥലം കൊടുക്കുക </h3>
      </div>
      <div class="modal-body">
        നിങ്ങളുടെ സ്ഥലം നൽകുന്നതെങ്ങനെ<br><br>

        1. നിങ്ങളുടെ ബ്രൗസർ <b>"www.keralarescue.in wants to know your location"</b> എന്ന ഒരു സന്ദേശം കാണിക്കും<br>
        2. സന്ദേശത്തിൽ <b>Allow</b> തിരഞ്ഞെടുക്കുക
        <br><br>
        How to allow location access<br><br>
        1. Your browser will show a message <b>"www.keralarescue.in wants to know your location"</b><br>
        2. Choose the <b>Allow</b> option.
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" id="modal_ok_button" aria-hidden="true">Ok</button>
      </div>
    </div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/build/ol.js"></script>
  <script type="text/javascript">

	window.onload = function(){
		nativeMax = Math.max;
		var checkVisibility;
 	 	(checkVisibility = function(){
			var formgroups = document.querySelectorAll(".form-group");
			Array.prototype.forEach.call(formgroups, function(el, i){
				var checkbox = el.querySelectorAll(".checkbox");
				if(checkbox.length > 0){
					var checkboxElem = el.querySelectorAll("input")[0];
					if ( checkboxElem.id != "id_is_request_for_others") {
                        if (checkboxElem.checked) {
                            formgroups[i+1].style.display = "block";
                        }
                        else {
                            formgroups[i+1].style.display = "none";
                        }
                    }
				}
			});
		})();

		var checkboxes = document.querySelectorAll("input[type=checkbox]");
		for(var i=0; i< checkboxes.length; i++) {
			checkboxes[i].addEventListener("change",checkVisibility);
		}
		var gpsField = document.getElementById('id_latlng');
		var gpsAccuracyField = document.getElementById('id_latlng_accuracy');
		gpsField.readOnly = true;
		gpsAccuracyField.readOnly = true;
		var options = {
			enableHighAccuracy: true
		};

		success = function(pos, doNotUpdateMap, doNotFetchAddress) {
			var crd = pos.coords;
				gpsField.value = crd.latitude + "," + crd.longitude;
				gpsAccuracyField.value = crd.accuracy + ' Meters';
				if(!doNotUpdateMap) {
                    changeLocation({lat: crd.latitude, lon: crd.longitude});
                }

                if(!doNotFetchAddress) {
                    $.get('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + crd.latitude + '&lon=' + crd.longitude + '&zoom=18&addressdetails=1')
                        .done(function(response) {
                            $('#id_latlng_display').val(response.display_name);
                            console.log(response.display_name);
                        })
                        .fail(function(err) {
                            console.log(err);
                        });
                }
		}

		var error = function(err) {
			console.warn(`ERROR(${err.code}): ${err.message}`);
		}



        $('#modal_ok_button').click(function(event) {
          navigator.geolocation.getCurrentPosition(success, error, options);
        });

		$('#instructionModal').modal('show');
        var iconFeature;
		function createMarker(location, style){
				iconFeature = new ol.Feature({
						geometry: new ol.geom.Point(location)
				});
				iconFeature.setStyle(style);

				return iconFeature
		}

		function changeLocation(location){
			marker.getGeometry().setCoordinates(new ol.proj.transform([location.lon-0, location.lat-0], 'EPSG:4326', 'EPSG:3857'));
			map.getView().setCenter(ol.proj.transform([location.lon-0, location.lat-0], 'EPSG:4326', 'EPSG:3857'));
		}

		function createMap(){
			mapDiv = document.getElementById('map');
			view = new ol.View({
				center: ol.proj.fromLonLat([76.2673, 9.9312]),
				zoom:11
			});
			map = new ol.Map({
				target: mapDiv,
				layers:[
					new ol.layer.Tile({
						source: new ol.source.OSM()
					})
				],
				view: view
			});

            map.on('click', function (event) {
                var coordinates = event.coordinate;
                var latlng = ol.proj.transform(coordinates, 'EPSG:3857', 'EPSG:4326');
                latlng = { coords: {latitude: latlng[1], longitude: latlng[0], accuracy: 100}};
                success(latlng, true, false);
                var point = new ol.geom.Point(coordinates);
                iconFeature.setGeometry(point);
            });

			currentPosition = {
				lat: 9.9312,
				long: 76.2673
			}


			var mapVectorSource = new ol.source.Vector({
					features: []
			});
			var mapVectorLayer = new ol.layer.Vector({
					source: mapVectorSource
			});
			map.addLayer(mapVectorLayer);

			iconStyle = [
				new ol.style.Style({
					image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
						anchor: [0.5, 1],
						anchorXUnits: 'fraction',
						anchorYUnits: 'fraction',
						src: 'https://maps.gstatic.com/intl/de_de/mapfiles/ms/micons/red-pushpin.png',
					}))
				})
			]
			marker = createMarker(ol.proj.transform([76.2673, 9.9312], 'EPSG:4326', 'EPSG:3857'), iconStyle);
			mapVectorSource.addFeature(marker);
		}

		function addAddressField () {
            var html = '<div class="form-group"><label class="control-label" for="id_latlng">Address - </label><input class="form-control" id="id_latlng_display" value="" readonly/></div>'
            var gpsFieldGroup = $(gpsField).closest('.form-group');
            $(html).insertBefore(gpsFieldGroup)
        }

        function updateCurrentLocation (doNotFetchAddress) {
            success({
                coords:{
                    latitude:currentPosition.lat,
                    longitude: currentPosition.long,
                    // default accurracy for location updated using marker
                    accuracy: 100
                }
            }, true, doNotFetchAddress);
        }

        function fetchCoordinates() {
            var address = document.getElementById('address').value;
            $.get('https://nominatim.openstreetmap.org/search?q='+encodeURI(address)+'&format=json&addressdetails=1&limit=1&polygon_svg=1')
                .done(function(response) {
                    try{
                        console.log(response);
                        if(response.length<1){
                            alert('Please check the spelling');
                        }else{
                            response = response[0];
                            console.log(response.lon-0, response.lat-0);
                            changeLocation(response);
                        }
                    }catch(err){
                        console.error(err);
                    }
                })
                .fail(function(err){
                    console.log(err);
                });
        }
		document.getElementById('Search').addEventListener('click', fetchCoordinates);
        $("#address").on('keydown', function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                fetchCoordinates();
            }
        });


        addAddressField();
        createMap();
	}

  </script>
{% endblock %}
