{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1 class="text-center">Register as Volunteer</h1>
<h2 class="text-center">വൊളന്‍റീയര്‍ ആകാന്‍</h2>
  <form method="post" id="volunteer_consent_form">
  {% csrf_token %}
  {% if form.instance.pk %}
  
	 <div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	        <th colspan="2" style="text-align:center;">Volunteer details for #{{ req.id }}</th>
	      </tr>
	    </thead>

	    <tbody>
	      <tr>
	        <td><b> District : </b></td><td>{{ form.instance.district }}</td>
	      </tr>
	      <tr>
	        <td><b> Name : </b></td><td>{{ form.instance.name }}</td>
	      </tr>
	      <tr>
	        <td><b> Organisation : </b></td><td>{{ form.instance.organisation }}</td>
	      </tr>
	      <tr>
	        <td><b> Phone : </b></td><td>{{ form.instance.phone }}</td>
	      </tr>
	      <tr>
	        <td><b> Consent : </b></td><td>{% if form.instance.has_consented %} yes {% else %} no {% endif %}</td>
	      </tr>
		  <tr>
			  <td colspan="2" style="text-align:center;">	
				  <button type="button" class="btn btn-success consent" data-consent="confirm">Confirm</button>
				  <button type="button" class="btn btn-danger consent" data-consent="cancel">Cancel</button>
			  </td>
		  </tr>

	    </tbody>
	  </table>

	</div>
	<!-- hack to make jquery update the variable -->
	<div hidden>
    {% bootstrap_form form %}
	</div>
	
  {% else %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  
  {% endif %}
  
  
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
	$(".consent").click(function(event) {
		var consent = $(this).attr('data-consent');
		if(consent === 'confirm') {
			$("[name=has_consented]").prop("checked", true);
		} else if(consent === 'cancel'){
			$("[name=has_consented]").prop("checked", false);
		}
		
		$("#volunteer_consent_form").submit();
	})
	
	
	// $( "#volunteer_consent_form" ).submit(function( event ) {
	//   alert( "Handler for .submit() called." );
	//   event.preventDefault();
	// })
    
</script>
{% endblock %}
