{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<!--Navigation Breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="../ngo-volunteer/">Register as a Volunteer or NGO</a></li>
    <li class="breadcrumb-item active" aria-current="page">Register as Volunteer</li>
  </ol>
</nav>

<h1 class="text-center">Register as Volunteer</h1>
<h2 class="text-center">വൊളന്‍റീയര്‍ ആകാന്‍</h2>
  <form method="post" id="volunteer_consent_form">
  {% csrf_token %}
  {% if form.instance.pk %}
  
	 <div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
	        <th colspan="2" style="text-align:center;">Volunteer details</th>
	      </tr>
	    </thead>

	    <tbody>
	      <tr>
	        <td><b> District : </b></td><td>{{ form.instance.district }}</td>
	      </tr>
	      <tr>
	        <td><b> Name : </b></td><td>{{ form.instance.name }}</td>
	      </tr>
	      <tr>
	        <td><b> Organisation : </b></td><td>{{ form.instance.organisation }}</td>
	      </tr>
	      <tr>
	        <td><b> Consent : </b></td><td>{% if form.instance.has_consented %} yes {% else %} no {% endif %}</td>
	      </tr>
		  <tr>
			  <td colspan="2" style="text-align:center;">	
				  <button type="button" class="btn btn-success consent" data-consent="confirm">Confirm</button>&nbsp;&nbsp;
				  <button type="button" class="btn btn-danger consent" data-consent="cancel">Cancel</button>
			  </td>
		  </tr>

	    </tbody>
	  </table>

	</div>
	<!-- hack to make jquery update the variable -->
	<div hidden>
    {% bootstrap_form form %}
	</div>
	
  {% else %}
  {% bootstrap_form form %}
	{% buttons %}
	
	<blockquote>
		<small>
			By providing your personal information, you consent to making such information accessible to persons who visit this website.
			You further acknowledge and agree that in order to serve the specific purposes for which personal information is volunteered
			by you, such information needs to be accessible to the public at large and therefore, by volunteering your information
			on this website, you consent to making such information public. By providing your phone number and email address, you further
			consent to being contacted by anyone who accesses such information through this website. The creators of this website or
			the government of Kerala shall not be liable for any unauthorized use, misuse or sharing of such information.
		</small>
	</blockquote>

	<div class="checkbox">
		<label><input id="register_consent" type="checkbox" value="">I agree to the terms and conditions</label>
	</div>

  <button type="submit" class="btn btn-primary" id="submit_btn">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  
  {% endif %}
  
  
  </form>
  
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
	// $(".consent").click(function(event) {
	// 	var consent = $(this).attr('data-consent');
	// 	if(consent === 'confirm') {
	// 		$("[name=has_consented]").prop("checked", true);
	// 	} else if(consent === 'cancel'){
	// 		$("[name=has_consented]").prop("checked", false);
	// 	}
		
	// 	$("#volunteer_consent_form").submit();
	// })

	$('#submit_btn').click(function (){
		if(!$('#register_consent').is(":checked")){
			alert('Please review and accept our terms and conditions');	
			event.preventDefault();
			return false;
		}
	});
	
	

	// $( "#volunteer_consent_form" ).submit(function( event ) {
	//   alert( "Handler for .submit() called." );
	//   
	// })
    
</script>
{% endblock %}
