{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">Government of Kerala<span style="font-weight: normal;"> Announcements</span></h1>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>District</th>
                <th>Link</th>
            </tr>
            {% for req in filter.qs %}
              <tr>
                <td>{{ req.name }}</td>
                <td>{{ req.get_district_display }}</td>
                <td><a href="{{ req.link }}">{{ req.link }}</a></td>
              </tr>
          {% endfor %}
        </table>
      </div>

</div>

{% endblock %}