{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue  DMO Portal</span></h1>
    <p style="margin-bottom:20px;margin-top:50px;">
      <strong style="font-size:  40px ;">Please Select the Camps to view statistics  </strong><br/>
</p>
    <a href="/dmodist" class="home-button card" role="button">
      {% bootstrap_icon "user" %}
      <span class="text">
        View stats By district      </span>
  </a>
  <a href="/dmotal" class="home-button card" role="button">
      {% bootstrap_icon "user" %}
      <span class="text">
        Views Stats By Taluk
      </span>
  </a>


    <p style="margin-bottom:20px;margin-top:50px;">
        <strong style="font-size:  40px ;">Please Select the district to view request stats </strong><br/>
  </p>

  <a href="/dmotal" class="home-button card" role="button">
    {% bootstrap_icon "search" %}
    <span class="text">
      Views Stats By District
    </span>
</a>

</div>

  {% endblock %}
